*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}
html,
body {
   height:100%;
   width:100%;
}


main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1px;



    section{
        background-size: cover;
        background-position: center;
        height: 100%;
        flex-grow: 1;
        transition: all 1.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
        
    }
    section:hover{
        flex-grow: 2;
    }

    section:nth-child(1){
        background-image: url(./1.jpg);
    }
    section:nth-child(2){
        background-image: url(./2.jfif);
    }
    section:nth-child(3){
        background-image: url(./3.jfif);
    }
    section:nth-child(4){
        background-image: url(./4.jfif);
    }
    section:nth-child(5){
        background-image: url(./5.jfif);
    }
}